<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="MAIN_APPLICATION" value="xmlstilling-ws" />



    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-5p] [%t] %m -- %c%n - %throwable{short}%n</pattern>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="org" level="WARN" />
    <logger name="com" level="WARN" />
    <logger name="aetat" level="INFO" />


</configuration>
