<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>xmlstilling-web</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

     <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-config/applicationContext.xml</param-value>
    </context-param>

    <servlet>
        <display-name>Admin Servlet V1</display-name>
        <servlet-name>SixSoapServletV1</servlet-name>
        <servlet-class>aetat.six.web.transport.http.SoapServletV1</servlet-class>
    </servlet>

    <servlet>
        <display-name>Admin Servlet V2</display-name>
        <servlet-name>SixSoapServletV2</servlet-name>
        <servlet-class>aetat.six.web.transport.http.SoapServletV2</servlet-class>
    </servlet>

    <!-- Ikkev /v1 pga bakoverkompabilitet -->
    <servlet-mapping>
        <servlet-name>SixSoapServletV1</servlet-name>
        <url-pattern>/SixSoap</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SixSoapServletV2</servlet-name>
        <url-pattern>/v2/SixSoap</url-pattern>
    </servlet-mapping>

    <!-- Selftest -->
    <servlet>
        <display-name>Servlet for selftest</display-name>
        <servlet-name>selftestRequestHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selftestRequestHandler</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>xmlStillingSelftestJSONRequestHandler</servlet-name>
        <url-pattern>/internal/selftest.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xmlStillingSelftestJSONRequestHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>healthCheckRequestHandler</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>healthCheckRequestHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <session-config>
        <session-timeout>-2</session-timeout>
        <cookie-config>
            <name>JSESSIONID-xmlstilling</name>
            <http-only>true</http-only>
            <secure>${session.cookie.secure}</secure>
        </cookie-config>
    </session-config>

</web-app>
